html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {

font-family: 'Vollkorn SC', Times, Times New Roman, serif;

}

h1, h2, h3 {
  font-family: 'Vollkorn SC', Times, Times New Roman, serif; !Important
}