html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2 {
  color: white !Important;
}

.jumbotron {
  margin: 10px;
  background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/giphy.gif")no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 1px;
  
}


body {
  background-image: url("../images/grey.png");
  background-position: 10%; 
  background-size: 1920px;
 
}

.panel > .panel-heading {
    background-image: none;
    background-color: #b52d3f !Important;
    color: white !Important;

}

button {
  background-color: #b52d3f !Important;
  border-style: none;
}