html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/nature-rail.jpg");
  background-position: 10%; 
  background-size: 1920px;
 
}

.panel > .panel-heading {
    background-image: none;
    background-color: #71c4b2 !Important;
    color: white !Important;

}